.sidebar {
  width: 300px;
  background-color: $colorMain;
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  @include responsive(1366px) {
    width: 270px;
    padding: 45px 25px;
  }

  @include responsive(1322px) {
    padding: 45px 20px;
  }

  @include responsive(991.98px) {
    position: fixed;
    top: 0;
    left: 0;
    height: 85px;
    width: 100vw;
    padding: 5px 20px;
    padding-right: 90px;
    z-index: 100;
  }

  @include responsive(576px) {
    padding-right: 75px;
  }

  @include responsive(421px) {
    flex-direction: row;
    padding: 5px 10px;
    padding-right: 60px;
  }

  &__content {
    width: 220px;
    text-align: center;
    position: fixed;
    top: 50px;
    left: 40px;

    @include responsive(1366px) {
      left: 25px;
    }

    @include responsive(1322px) {
      // left: 20px;
    }

    @include responsive(991.98px) {
      position: relative;
      top: auto;
      left: auto;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__menu {
    ul {
      list-style: none;
      text-align: right;
    }

    li {
      color: $colorLight;
      font-size: 16px;
      font-weight: 300;
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__avatar {
    width: 220px;
    height: 220px;
    margin-bottom: 20px;

    @include responsive(1322px) {
      width: 200px;
      height: 200px;
      margin: 0 auto 20px auto;
    }

    @include responsive(991.98px) {
      width: 75px;
      height: 75px;
      margin: 0;
    }

    @include responsive(421px) {
      width: 65px;
      height: 65px;
    }

    @include responsive(319.98px) {
      height: 50px;
      width: 50px;
    }

    img {
      width: 100%;
      height: auto;
      border-radius: 50%;
      overflow: hidden;
    }
  }

  &__text {
    @include responsive(991.98px) {
      line-height: 1;
    }
  }

  &__name {
    color: $colorWhite;
    font-size: 22.5px;
    font-weight: 400;
    margin-bottom: 10px;

    @include responsive(991.98px) {
      font-size: 20px;
      margin-bottom: 6px;
    }

    @include responsive(421px) {
      font-size: 18px;
    }
  }

  &__desc {
    color: $colorLight;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;

    @include responsive(991.98px) {
      margin-bottom: 6px;
    }

    @include responsive(421px) {
      font-size: 15px;
    }

    span {
      display: block;

      @include responsive(991.98px) {
        display: inline-block;
      }

      &:first-child {
        @include responsive(991.98px) {
          margin-right: 6px;
        }
      }

      &.responsive {
        @include responsive(365px) {
          display: none;
        }
      }
    }
  }

  &__country {
    color: $colorLight2;
    font-weight: 300;

    @include responsive(991.98px) {
      font-size: 14px;
    }

    @include responsive(421px) {
      font-size: 13px;
    }
  }
}
